/* More intuitive box size by the border*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Allows percentage based heights that are as expected*/
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: hsl(0, 0%, 95%);
  height: 300%;
}

#map {
  height: 33.3%;
  position: sticky;
  top: 40px;
  z-index: -1;
}

.first-scroll-info {
  position: relative;
  top: -50vh;
}

.second-scroll-info {
  position: relative;
  top: 40vh;
}

.third-scroll-info {
  position: relative;
  top: 140vh;
}

.header {
  height: 40px;
  z-index: 2;
  position: sticky;
  top: 0px;
  background-color: red;
}
